.corpo{
    position: relative;
    width: 1440px;
    height: 1024px;
    background-color: #29334E;
    overflow-y: scroll;
}
.titulos{
    color: white;
    font-family: sans-serif, serif;
}
.retangulo{
    position: absolute;
    width: 1381px;
    height: 246px;
    left: 30px;
    top: 13px;
    mix-blend-mode: normal;
    border: 5px solid #FFFFFF;
    box-shadow: inset 0px 4px 4px #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 148px;
    
}
.logo{
    position: absolute;
    width: 362px;
    height: 223px;
    left: 30px;
    top: 14px;
    border-radius: 148px;
    background: url(static/Rectangle_1.png);
    mix-blend-mode: lighten;
    
}
h1{
    position: absolute;
    width: 420px;
    height: 72px;
    left: 456px;
    top: 96px;
    font-family: 'sans-serif', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    color: #FFFFFF!important;
}
.carrinho{
    position: absolute;
    width: 144px;
    height: 120px;
    left: 978px;
    top: 72px;
    background: url(static/Rectangle_3.png);
    
}
.texto2{
    position: absolute;
    width: 165px;
    height: 36px;
    left: 1122px;
    top: 100px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height */
    color: #8f2f2f;
}
.retangulo2{
    position: absolute;
    left: 2.08%;
    right: 2.01%;
    top: 28.61%;
    bottom: 2.05%;
    mix-blend-mode: normal;
    border: 5px solid #FFFFFF;
    box-shadow: inset 0px 4px 4px #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 148px;
}
